html{
    
    font-family: "Sawarabi Gothic"; 
}
header{
    text-align: center;
    background: linear-gradient(#deb887, #f5deb3);
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 30px;
    margin-bottom: 50px;
    font-size: larger;
    box-shadow: 5px 5px 5px gray;
}
caption{
    font-weight: bold;
}
.description{
    width: 100%;
    height: 90px;
    margin-right: auto;
    margin-left: auto;
}
.main{
    margin-left: auto;
    margin-right: auto;
}
th,td{
    text-align: center;
    padding: 10px;
}
th{
    white-space: nowrap;
    border-left:1px solid #deb887;
    border-top:1px solid #deb887;
    border-bottom:1px solid #deb887;
    background: #f5deb3;
}
td{
    word-wrap: break-word;
    padding-right: 40px;
    padding-left: 40px;
    background: #ffe4e1;
    border: 1px solid #cd853f;
}
table{
    margin-top: 20px;
    border-collapse: collapse;
    box-shadow: 2px 2px 2px gray;
}

@media(max-width:700px){
header{
  font-size: 1.15em;
}
.description{
  font-size: 1.1em;
}
td, th, tr {
  display: block;
  font-size: 1.05em;
} 
table{
  margin-top: 50px;
}

}
