html{
    font-family: 'Ubuntu', 'Noto Sans JP',sans-serif; 
}
body{
    margin: 0;
}
.wrapper{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 10;
}
.loading-sign{
    /* display: none;
    position: fixed;
    top: calc(30% - 70px / 2);
    left: calc(50% - 70px / 2);
    width: 200px;
    max-width: 100%;
    height: 200px; */
    text-align: center;
}
#github-link{
    position: absolute;
    top: 25%;
    right: 0;
}
#logo-image{
    position: absolute;
    top: 18%;
    left: 0;
    width: 100%;
}
#github-link a{
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 20px;
    color: dimgray;
    transition: all, 500ms;
}
#github-link a:hover{
    background-color: rgba(255,255,255,0.6);
}
#github-link a:active{
    background-color: rgba(220,220,220,0.6);
}
#kakuninkun-logo{
    display: none;
    position: fixed;
    top: calc(30% - 200px / 2);
    left: calc(50% - 200px / 2);
    width: 200px;
    z-index: 11;
}
#spinner{
    display: none;
    position: fixed;
    top: calc(60% - 70px / 2);
    left: calc(50% - 70px / 2);
    width: 70px;
    z-index: 11;
}
header{
    position: fixed;
    background: linear-gradient(white, gainsboro);
    width: 100%;
    height: 30px;
    margin-bottom: 40px;
    font-size: larger;
    box-shadow: 1px 0 5px gray;
    color: dimgray;
    padding-top: 5px;
    padding-bottom: 5px;
}
h1{
    text-align: center;
    border-bottom: 4px dotted #deb887;
}
caption{
    font-weight: bold;
}
.main{
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
th,td{
    text-align: center;
    padding: 10px;
}
th{
    white-space: nowrap;
    border-left:1px solid #deb887;
    border-top:1px solid #deb887;
    border-bottom:1px solid #deb887;
    background: #f5deb3;
}
td{
    word-wrap: break-word;
    padding-right: 40px;
    padding-left: 40px;
    background: #ffe4e1;
    border: 1px solid #cd853f;
}
table{
    border-collapse: collapse;
    width: 100%;
    box-shadow: 2px 2px 2px gray;
}
footer{
    position: relative;
    background-color: gainsboro;
    width: 100%;
    height: 50px;
}
.footer-menu {
    text-align: center;
}
.footer-menu li{
    list-style: none;
    border-bottom: 4px solid #cd853f;
    display: inline;
    margin-left: 20px;
}
.footer-menu li a{
    text-decoration: none;
    color: dimgray;
}
footer small{
    position: absolute;
    right: 0;
    bottom: 0;
}
@media(max-width:700px){
header{
  font-size: 1.15em;
}
td, th, tr {
  display: block;
  font-size: 1.05em;
} 
table{
  margin-top: 30px;
}
footer{
    height: 140px;
}
.footer-menu li{
  display: block;
}
}
/*@media(max-width:400px){
footer{
 height: 70px;
}
}*/
